@import url('https://fonts.googleapis.com/css?family=Roboto|Oswald');

body{
  color: white;
}

#about {
  font-size: 2em;
  padding-top: 5%;
  padding-bottom: 2em;
}

body {
  font-family: Oswald, Arial, sans-serif;
  background-color: #3E606F;
}

#about .panel-body .social-links {
  
}

.nav li {
  text-align: left;
}

a, a:hover, a:active {
  color: #00ffff;
}


a.anchor {
    display: block;
    position: relative;
    top: -250px;
    visibility: hidden;
}

.main {
  margin-top: 40px;
  text-align: center;
  padding: 10px;
  background-color: #91AA9D;
}

.content {
  margin-top: 0;
  margin-left: 10%;
  margin-right: 10%;
  background-color: #3E606F;
  color: #FCFFF5;
  padding: 10px;
}

.thumbnail {
  margin: 10px auto;
  height: 20em;
  width: 30em;
}

ul#tech {
  margin: 0 auto;
  width: 50%;
}

#contact {
  padding: 10px;
}

.panel, .list-group-item {
  background-color: inherit;
  text-align: center;
}

.social-links {
}

footer {
  padding: 10px 0;
}
